@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: lavender;
}

li.failedIcon {
  background-image: url("../images/failed.png");
}

li.checkmarkIcon {
  background-image: url("../images/accept.png");
}

li.listImage {
	margin: 0;
	padding: 4px 0 4px 36px;
	list-style: none;
	background-repeat: no-repeat;
	//background-position: left center;
	background-size: 24px;
  }

table {
	border: solid;
}

th, td {
	border: 1px solid;
	padding: 5px;
}

.tomatoCell {
	background-color: Tomato;
}

.tomatoCellPale { 
	background-color: color-mix(in srgb, Tomato, transparent 70%);
}

.limeGreenCell {
	background-color: LimeGreen;
}

.limeGreenCellPale {
	background-color: color-mix(in srgb, LimeGreen, transparent 70%);
}