@tailwind base;
@tailwind components;
@tailwind utilities;

#countdownPara {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}

body {
  background-color: lavender;
}

li.failedIcon {
  background-image: url("../images/failed.png");
}

li.checkmarkIcon {
  background-image: url("../images/accept.png");
}

li.listImage {
	margin: 0;
	padding: 4px 0 4px 36px;
	list-style: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 24px;
  }